* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  position: relative;
  background: whitesmoke;
}


header img {
  width: 30%;
  height: 100%;
  border-radius: 3%;
}

main {
  font-family: Verdana, sans-serif;
}

/** Search Component  Begin **/


/** Search Component  End **/

/** Available Flights List **/

#filterable-flight-list {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  padding: 1% 2%;
}

#flights-container {
  display: flex;
  flex-flow: column wrap;

}

.flight-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1% var(--padding-left-right-default);
  -webkit-box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.5);
  box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.5);
  background: #ffffff;
  color: #cfcfcf;
  margin-top: 1%;
}


.flight-card-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: var(--headline-font);
  background: #ffffff;
  /*color: #595959;*/
  letter-spacing: 0.099rem;
  color: rgb(5, 7, 9);
}

.flight-card-header a {
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-family: Verdana, sans-serif;
  color: #313131;
}

.flight-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background: #fafafa;
  color: #3f3f3f;
}

.flight-card-body .flight-route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.flight-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  letter-spacing: 0.1rem;
  padding: 0 4%;
  font-weight: bold;
  font-family: Georgia, sans-serif;
  color: #797979;
}

.flight-card-footer p {
  font-size: large;
  text-decoration: underline;
}

.flight-card-footer a {
  padding: 0.5rem;
  background: #10984f;
  /*background: #13a651;*/
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.flight-card-footer p:hover {
  color: rgb(72, 72, 72);
  cursor: grabbing;
}

.flight-card-body,
.flight-card-footer {
  border-top: 2px solid whitesmoke;
}

.flight-direction-icon {
  transform: rotate(180deg);
}

#filter-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1px 1px 15px 0px rgba(130, 122, 122, 0.7);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(130, 122, 122, 0.7);
  -moz-box-shadow: 1px 1px 15px 0px rgba(130, 122, 122, 0.7);
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  color: rgb(42, 42, 42);
  border-radius: 2%;
}

#filter-component-checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 45%;
  padding: 0.4rem 0.8rem;
}

#filter-component-checkboxes label {
  color: #595959;
  font-size: 0.87rem;
  font-family: sans-serif;
  /*letter-spacing: 0.099rem;*/
}


.filter-header {
  width: 30%;
  padding: 0 0.8rem;
  font-weight: bold;
  color: #525252;
  font-family: Calibri, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  font-size: 1.2rem;
}

#flight-details-modal {
  padding: 1rem var(--padding-left-right-default);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e2e2e3d;
  width: 100vw;
  height: 100vh;
}

#flight-details-modal-content {
  display: flex;
  width: 80%;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 17px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 1px 17px -9px rgba(66, 68, 90, 1);
  box-shadow: 1px 1px 17px -9px rgba(66, 68, 90, 1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-left-right-default);
  /*background-color: var(--primary-color);*/
  color: #e0dfdc;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.modal-body {
  padding: 0 var(--padding-left-right-default);
  background-color: whitesmoke;
}

div.card-wrapper {
  width: 100%;
  /* transition: height 1s ease-out; */
}

.expandable {
  width: 100%;
  justify-content: center;
  max-height: 0;
  border-top: 1px solid whitesmoke;
  padding: 0 2%;
  overflow: hidden;
  transition: max-height 1.3s ease-out -0.3s;
  font-size: 0.9rem;
}

.collapse {
  transition: max-height 1.3s ease-out;
}

@media screen and (min-width: 992px) {
  div.card-wrapper {
    width: 48%;
    /*margin-right: 2%;*/
  }

  #filter-component-checkboxes label:nth-child(2n) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #filter-component-checkboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #flights-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .flight-card {
    margin-top: 1%;
    font-size: 0.8rem;
  }

  .flight-card-body {
    flex-direction: column;
  }

  .flight-card .flight-route {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .flight-card-header {
    justify-content: space-around;
  }

  .flight-card-footer {
    letter-spacing: 0;
    font-size: medium;
    font-weight: normal;
  }

  #filter-component-checkboxes {
    width: 85%;
  }

  .filter-header {
    width: 15%;
  }
}

