
#filterable-flight-list {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
  padding: 1% 2%;
}

#flights-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.flight-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.5);
  box-shadow: 1px 1px 10px 0 rgba(128, 128, 128, 0.5);
  background: #ffffff;
  color: #cfcfcf;
  width: 100%;
}


.flight-card-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: #ffffff;
  letter-spacing: 0.05rem;
  color: rgb(102, 102, 102);
  padding: 8px;
}

.flight-card-header a {
  text-decoration: none;
  color: #313131;
}

.flight-card-header a:hover {
  text-decoration: underline;
}

.flight-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background: #fafafa;
  color: #3f3f3f;
  border-bottom: 2px solid #bdbdbd;
  border-top: 2px solid #bdbdbd;
}

.flight-route p {
  margin-bottom: 0;
  margin-top: 8px;
}

.flight-route {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.flight-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  letter-spacing: 0.05rem;
  padding: 8px;
  font-weight: bold;
  color: #797979;
}

.flight-card-footer p {
  letter-spacing: 0.05rem;
  font-size: 20px;
  text-decoration: underline;
}

.flight-card-footer a {
  background: #10984f;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px;
}

.flight-card-footer p:hover {
  color: rgb(72, 72, 72);
  cursor: grabbing;
}


.flight-direction-icon {
  transform: rotate(180deg);
}

#filter-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1px 1px 15px 0 rgba(130, 122, 122, 0.7);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(130, 122, 122, 0.7);
  -moz-box-shadow: 1px 1px 15px 0 rgba(130, 122, 122, 0.7);
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  color: rgb(42, 42, 42);
  border-radius: 2%;
}

#filter-component-checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 45%;
  padding: 0.4rem 0.8rem;
}

#filter-component-checkboxes label {
  color: #595959;
  font-size: 0.87rem;
  font-family: sans-serif;
}

.filter-header {
  width: 30%;
  padding: 0 0.8rem;
  font-weight: bold;
  color: #525252;
  font-family: Calibri, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  font-size: 1.2rem;
}

div.card-wrapper {
  display: flex;
  width: 100%;
  margin-top: 48px;
  flex-grow: 0;
}

.collapsable {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #9d9d9d;
  padding: 32px 32px 4px;
  overflow: hidden;
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  div.card-wrapper {
    width: 48%;
    display: block;
  }

  #filter-component-checkboxes label:nth-child(2n) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #filter-component-checkboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #flights-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .flight-card {
    margin-top: 20px;
    font-size: 14px;
    flex-direction: column;
  }

  .flight-card-body {
    position: relative;
    flex-direction: column;
    border-bottom: 2px solid #bdbdbd;
    border-top: 2px solid #bdbdbd;
  }

  .flight-route {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-weight: 700;
    font-size: 18px;
    padding: 24px;
  }

  .flight-card-header {
    justify-content: space-around;
    padding-top: 14px;
  }

  .flight-card-footer {
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-size: 14px;
    padding-top: 16px;
  }

  #filter-component-checkboxes {
    width: 85%;
  }

  .filter-header {
    width: 15%;
  }

  .flight-card-footer a {
    padding: 16px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    font-weight: 500;
    color: #f2fff8;
    text-decoration: none;
  }

  .collapsable {
    overflow: hidden;
  }
}

