<article class="flight-card" *ngIf="flightDetails && section">
  <div class="flight-card-header">
    <a href="#">
      Homa Airlines</a>
    <p>
      <mat-icon>flight_class</mat-icon>
      {{section.title}}
    </p>
    <span>{{flightDetails.departuresAt | date:'medium'}}</span>
  </div>
  <div class="flight-card-content">
    <div class="flight-details">
      <p>FlightNO #{{flightDetails.id}}</p>
      <p><strong>{{section.availableSeats}}</strong> seats available</p>
      <span><p>{{flightDetails.vehicleModelName}}</p></span>
    </div>
    <div class="route">
      <p>{{flightDetails.offset}}</p>
      <mat-icon>flight</mat-icon>
      <p>{{flightDetails.destination}}</p>
    </div>
    <div class="section-privileges" *ngIf="section.privileges.length > 0">
      <h3><strong>Section Privileges</strong> </h3>
      <ul>
        <li *ngFor="let privilege of section.privileges">
          {{privilege.description}}
        </li>
      </ul>
    </div>
  </div>
</article>
