@use "src/styles/colors";
@use "src/styles/variables";

.flight-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(102, 102, 102, 0.38);
  border-radius: 8px;
}

.flight-card-header {
  @extend .card-header;
  justify-content: space-around;
  font-size: 14px;
  column-gap: 24px;
}

.flight-card-content {
  @extend .card-content;
  font-size: 16px;

  .route {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    border-bottom: 1px solid colors.$grey-100;
  }

  .section-privileges {
    align-self: flex-start;
    padding-left: 12px;
  }
}

.flight-details {
  display: flex;
  column-gap: 24px;
  font-size: 14px;
  padding: 8px;
  border-bottom: 1px solid colors.$grey-100;
  margin-bottom: 8px;
}

@media (min-width: 576px) {
  .flight-card-header {
    justify-content: flex-start;
    padding: 18px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 992px) {
  .flight-card {
    font-size: 18px;
  }


  .flight-card-header {
    flex-direction: row;
    font-weight: 450;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .flight-card-content {

    .route {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      column-gap: 8px;
      border-bottom: none;

      .mat-icon {

        transform: rotate(90deg) translateX(4px);
      }
    }

    .section-privileges {
      margin-left: 24px;
    }
  }
}
