@use "src/styles/colors";
@use "src/styles/mixins";

section {
  @include mixins.flex(column);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 4px;
  padding: 48px;
  align-items: center;

  form {
    width: 100%;
  }
}

form {
  @include mixins.flex(column);
  justify-content: space-around;
  align-items: flex-start;
}


mat-form-field {
  position: relative;
  width: 100%;

}

input[matInput] {
  width: 100%;
}

button {
  background: colors.$grey-600;
  color: colors.$grey-0;
  width: 50%;
  padding: 8px;
  font-size: 16px;
}

#form-footer-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  align-items: baseline;
  width: 100%;
}

#login-section-footer {
  width: 75%;
  margin-top: 14px;
  color: colors.$grey-300;
  text-align: center;

  a {
    color: colors.$grey-500;
    letter-spacing: 0.05rem;

    &:hover {
      color: colors.$grey-900;
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 992px) {
  #login-form-container {
    width: 40%;
  }

  input {
    font-size: 14px;
  }
}
