section
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%
  border: 1px solid #858585
  border-radius: 5px
  padding: 32px
  max-width: 500px

h2
  text-align: center

form
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center

input
  padding: 12px
  margin-bottom: 12px
  border: 1px solid #a8a8a8
  border-radius: 8px
  margin-top: 12px
  width: 100%


.form-input
  position: relative
  width: 75%

  label
    position: absolute
    top: 0
    background: whitesmoke
    left: 8px
    font-size: 14px
    letter-spacing: 0.05rem
    font-family: Verdana, sans-serif
    color: #797979

button
  background: rgba(19, 108, 74, 0.89)
  color: #ffffff
  border-radius: 8px
  padding: 14px
  width: 75%
  font-size: 20px
  margin-bottom: 16px
  outline: none
  border: none
  margin-top: 16px

#login-section-footer
  text-align: center

.alert
  width: 75%
@media screen and (min-width: 992px)
  #login-form-container
    width: 40%
  input
    font-size: 14px

