<section id="login-form-container">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="error-text" *ngIf="error">
      <span>{{errorMessage}}</span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="ali@example.com" [formControl]="username" required>
      <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
      <mat-error *ngIf="hasError('username', 'email')"> Invalid Email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput id="password" type="password" name="password"
             placeholder="" [formControl]="password" required>
      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
    </mat-form-field>
    <div id="form-footer-wrapper">
      <button mat-flat-button type="submit" [disabled]="!loginForm.valid">Login</button>
      <div id="login-section-footer">
        <div>
          <span>Don't have an account? </span>
          <a routerLink="/registration"> Register</a>
        </div>
      </div>
    </div>

  </form>
</section>
