@use "colors";

@mixin box-sizing($sizing: border-box) {
  box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
}

@mixin flex($dir : row) {
  display: flex;
  flex-direction: $dir;
}

@mixin flex-layout($justification: center, $align:baseline) {
  justify-content: $justification;
  align-items: $align;
}

@mixin input-focus-outline() {
  outline: 1px solid colors.$grey-300;
}

@mixin border($side : null, $size, $style, $color){

}
