@use "colors";
@use "mixins";

$primary-color: rgba(19, 108, 74, 0.89);

$alert-primary-color: #9f3d3d;

$font-families: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;

$header-font-color: #f2fffa;



