@use "src/styles/colors";
@use "src/styles/mixins";

h1 {
  margin-bottom: 48px;
  color: colors.$grey-900;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 4px;
  padding: 48px;
  margin-top: 48px;

  button {
    padding: 8px;
    background: colors.$grey-700;
    color: colors.$grey-0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    &:disabled {
      background: colors.$grey-200;
      color: colors.$grey-0;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (min-width: 992px) {
  section {
    width: 30%;
  }
}
