<section>
  <div *ngIf="errorText">
    <span class="error-text">{{errorText}},<a href="/login">Login.</a></span>
  </div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>username</mat-label>
      <input matInput id="username" type="text" name="username" placeholder="example@email.com"
             formControlName="username"
             required>
      <mat-error *ngIf="hasError(registrationForm, 'username', 'required')">Field is required</mat-error>
      <mat-error *ngIf="hasError(registrationForm, 'username', 'email')">Invalid Email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput id="password" type="password" name="password" placeholder="password"
             formControlName="password" required>
      <mat-error *ngIf="hasError(registrationForm, 'password', 'required')">Field is required</mat-error>
      <mat-error *ngIf="hasError(registrationForm, 'password', 'minlength')">Password must contain at least 5
        characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput id="firstName" formControlName="firstName"
             [ngClass]="{'error-input':isInvalid(registrationForm, 'firstName')}"
      />
      <mat-error *ngIf="hasError(registrationForm, 'firstName', 'required')">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput id="lastName" formControlName="lastName"/>
      <mat-error *ngIf="hasError(registrationForm, 'lastName', 'required')">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="nationalId">National Id</mat-label>
      <input matInput id="nationalId" formControlName="nationalId"/>
      <mat-error *ngIf="hasError(registrationForm, 'nationalId', 'required')">Field is required</mat-error>
      <mat-error *ngIf="hasError(registrationForm, 'nationalId', 'pattern')">Field's value be an 11 digit number
      </mat-error>
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="!registrationForm.valid">Register</button>
  </form>
</section>
