@use "src/styles/colors";
@use "src/styles/mixins";

h1 {
  margin-bottom: 48px;
  color: colors.$grey-900;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 4px;
  padding: 48px;
  margin-top: 48px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.form-input {
  input {
    border: 1px solid colors.$grey-400;
    width: 100%;

    &:focus {
      @include mixins.input-focus-outline();
    }
  }

  label {
    top: -8px;
    //left:8px;
  }
}



@media screen and (min-width: 992px) {
  section {
    width: 30%;
  }
}
