#tickets-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 64px;
}

.personal-details {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid rgba(102, 102, 102, 0.38);
}

.flight-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(102, 102, 102, 0.38);
  border-radius: 8px;
}

.flight-card-header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 14px;
  letter-spacing: 0.05rem;
  padding: 4px 8px;
  box-shadow: 5px 3px 5px -4px rgba(0, 0, 0, 0.1), 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
  color: #7a7a7a;

  a {
    text-decoration: none;
    color: inherit;
  }
}

%flex-col-center {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight-card-body {
  @extend %flex-col-center;
}

.flight-route {
  @extend %flex-col-center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;

  p {
    letter-spacing: 0.02rem;
  }
}

.flight-direction-icon {
  transform: rotate(180deg);
  width: 16px;
  height: 16px;
}

.details {
  font-size: 16px;
  padding: 12px;
  font-weight: 700;
  color: #797979;
}

.flight-card-header {
  justify-content: space-between;
  text-align: center;
  padding: 18px;
  flex-wrap: wrap;

  span, a {
    width: 49%;
  }
}

@media (min-width: 576px) {
  .flight-card-header {
    justify-content: flex-start;
    padding: 18px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 992px) {
  #tickets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flight-card {
    font-size: 20px;
  }

  .flight-card-header {
    flex-direction: row;
    font-weight: 450;
    justify-content: space-evenly;
    align-items: baseline;
    letter-spacing: 0.05rem;
    font-size: 14px;

    span, a {
      width: auto;
      margin-right: 4px;
    }
  }

  .flight-card-body {
    flex-direction: column;
    align-items: baseline;
  }

  .terminal {
    padding: 16px;
  }

  .flight-route {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    border-bottom: 2px solid #aeaeae;
    font-size: 16px;
    width: 100%;

    span:nth-child(1) {
      border-bottom: 0;
    }
  }

  .details {
    display: flex;
    flex-flow: column;
    font-size: 18px;
    padding: 12px 48px 0;
    color: #797979;
    width: 100%;

    span {
      font-weight: 500;
    }
  }

  .flight-route p {
    letter-spacing: 0.05rem;
  }
}
