header {
  display: flex;
  align-items: baseline;
  width: 100%;
  background: rgba(19, 108, 74, 0.89);
  color: #ffffff;
  padding: 0 20px;
}

header h1 {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
