@use "src/variables";

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  background: variables.$primary-color;
  color: variables.$header-font-color;
  padding: 18px;

  a {
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-size: 24px;
    font-weight: 900;
  }

  button {
    display: flex;
    align-items: baseline;
    background: transparent;
    border: none;
    color: #f2fffa;
    font-size: 24px;
    font-weight: 750;
    letter-spacing: 0.1rem;
    font-family: Helvetica, Georgia, sans-serif;

    &:hover {
      cursor: grabbing;
    }

    .logo {
      border-radius: 50%;
      padding: 8px;
      background: rgba(118, 200, 85, 0.53);
      box-shadow: 1px 8px 16px 0 rgba(0, 0, 0, 0.1);
      margin-right: 8px;
    }

    mat-icon {
      transform: rotate(-45deg);
    }
  }
}
