<div (clickOutside)="clickedOutside()" (keydown.enter)="clickedOutside()">

  <mat-form-field appearance="outline"
                  (click)="onClickToggleCitiesList()">
    <mat-label>{{placeholder}}</mat-label>
    <input matInput
           #iv
           id="flight-offset"
           [formControl]="terminal"
           type="text"
           name="offset"
           autocomplete="off"
           (input)="onInput()"
           required
    />
  </mat-form-field>
  <ul *ngIf="citiesListState" class="cities">
    <ng-container *ngFor="let terminal of terms$ | async | filter:iv.value">
      <li (click)="onClick(terminal)">
        {{terminal}}
      </li>
    </ng-container>
  </ul>
</div>
