@use "src/styles/colors";
@use "src/styles/mixins";

div {
  @include mixins.flex(column);
  position: relative;
  margin: 0;
}

.form-input {
  label {
    top: -8px;
  }

  input {
    width: 100%;
    font-size: 16px;
    border: 1px solid colors.$grey-400;

    &:focus {
      @include mixins.input-focus-outline();
    }
  }

  ul {
    display: block;
    position: absolute;
    top: 90%;
    z-index: 130;
    background-color: whitesmoke;
    width: 100%;
    list-style: none;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.5rem var(--padding-left-right-default);
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding: 0 5%;

      &:nth-child(2n + 1) {
        background-color: rgb(167, 167, 167);
        color: rgb(61, 61, 61);
      }
    }
  }
}
