@use "src/styles/colors";
@use "src/styles/mixins";

div {
  @include mixins.flex(column);
  position: relative;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}

input {
  width: 100%;
}

#citiesList {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 130;
  background-color: colors.$grey-100;
  width: 100%;
  list-style: none;
  border: 1px solid colors.$grey-300;
  border-top: none;
  padding: 0;
  margin-top: -1.5em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  align-self: center;

  app-list-item {
    display: block;
    width: 100%;
    padding: 8px;
    letter-spacing: 0.05rem;
    line-height: 3;

    &:nth-child(2n) {
      background-color: colors.$grey-0;
      color: colors.$grey-600;
    }

    &:nth-child(2n + 1) {
      background: colors.$grey-600;
      color: colors.$grey-0;
    }
  }

}
