<div id="tickets-container">
  <h1>Tickets: </h1>
  <article *ngFor="let ticket of tickets | async">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{ticket.offset}}</p>
            <mat-icon>flight</mat-icon>
            <p>{{ticket.destination}}</p>
          </mat-panel-title>
          <mat-panel-description class="hide">
            <div>
              <span>
                <mat-icon>event</mat-icon>
                {{ticket.departureDateTime | date:'full'}}
              </span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider class="hide"></mat-divider>
        <mat-panel-description>
          <span><mat-icon>confirmation_number</mat-icon>TicketNO {{ticket.ticketId}}</span>
          <span><p>{{ticket.passengerName}}</p></span>
          <span><p>{{ticket.age + 1}} years old</p></span>
          <span><p>PassportNO <strong>{{ticket.passportNO}}</strong></p></span>
          <span><mat-icon>airline_seat_recline_extra</mat-icon>Seat {{ticket.seatNO}}</span>
          <span><mat-icon>flight_class</mat-icon>
            {{ticket.sectionTitle}}</span>
          <div class="details">
            <ul class="section-privileges">
              <li *ngFor="let privilege of ticket.selectedPrivileges">
                {{privilege}}
              </li>
            </ul>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>

  </article>
</div>
