@use "src/styles/colors";

p {
  margin-bottom: 0;
}

#tickets-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 24px;
  padding: 8px;
  //justify-content: ;
  h1 {
    background: colors.$grey-100;
    color: colors.$grey-900;
    padding: 8px;
    border-radius: 4px;
  }
}

.hide {
  display: none !important;
}

article {
  width: 100%;

  margin: 0 auto;

  span > mat-icon {
    vertical-align: -30.5%;
    margin-right: 4px;
  }

  mat-expansion-panel {
    mat-panel-description {
      display: flex;
      flex-direction: column;


      span {
        padding: 4px;
      }

      & span:nth-child(2n) {
        color: colors.$grey-500
      }

      & span:nth-child(2n+1) {
        background: colors.$grey-500;
        color: colors.$grey-0;
      }
    }

  }

  mat-expansion-panel-header {
    font-size: 12px;
    font-weight: 550;

    span {
      margin-right: 12px;
    }

    mat-panel-title {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;


      mat-icon {
        transform: rotate(90deg);
      }

      mat-panel-description {
        column-gap: 24px;
      }
    }

  }
}


@media (min-width: 768px) {
  #tickets-container {

    h1 {
      align-self: center;
      width: 80%;
    }
  }
  .hide {
    display: inherit !important;
  }
  article {
    mat-expansion-panel {
      mat-panel-description {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 8px;
        & span:nth-child(2n) {
          color: inherit;
        }

        & span:nth-child(2n+1) {
          background: inherit;
          color: inherit;
        }
      }

    }
  }
}

@media (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  mat-expansion-panel-header {
    mat-panel-title {
      font-size: 14px;
    }
  }
  article {
    width: 80%;
  }
}

