<h3 *ngIf="flights!.length == 0"> No Flights Available</h3>
<article id="filterable-flight-list" *ngIf="flights!.length > 0">
  <div id="filter-wrapper">
    <div id="filter-component">
      <div class="filter-header">
        <p>Filter Results</p>
      </div>
      <div id="filter-component-checkboxes">
        <div>
          <label for="economy-class">
            <input type="checkbox"
                   name="economy"
                   id="economy-class"
                   value="economy"
                   (change)="onFilterChange($event)"
                   checked/>
            Economy Class
          </label>
        </div>
        <div>
          <label for="business-class">
            <input type="checkbox"
                   name="business"
                   id="business-class"
                   value="business"
                   (change)="onFilterChange($event)"
                   checked
            />
            Business Class
          </label>
        </div>
        <div>
          <label for="first-class">
            <input type="checkbox"
                   name="first"
                   id="first-class"
                   value="first"
                   (change)="onFilterChange($event)"
                   checked/>
            First Class
          </label>
        </div>
      </div>

    </div>
  </div>
  <div id="flights-container">
    <ng-container *ngFor="let flight of flights; let i = index">
      <ng-container *ngFor="let section of flight.sections;let j = index">
        <div
          [@filter]="filters.includes(section.title.toLowerCase())" class="card-wrapper"
          (click)="openModal(flight, section)">
          <article class="flight-card">
            <div class="flight-card-header">
              <a href="#" (click)="$event.stopPropagation()">
                Homa Airlines</a>
              <p>
                <mat-icon>flight_class</mat-icon>
                {{section.title}}
              </p>
            </div>
            <div class="flight-card-content">
              <p>{{flight.offset}}</p>
              <mat-icon>flight</mat-icon>
              <p>{{flight.destination}}</p>
              <span>{{flight.departuresAt | date:'medium'}}</span>
            </div>
            <div>
              <div class="collapsable" [@collapsable]="collapsed[i][j]">
                <p><strong>FlightNO #{{flight.id}}</strong></p>
                <p><strong>{{section.availableSeats}}</strong> seats available</p>
                <span><p>{{flight.vehicleModelName}}</p></span>
                <div class="section-privileges" *ngIf="section.privileges.length > 0">
                  <h3>Section Privileges</h3>
                  <ul>
                    <li *ngFor="let privilege of section.privileges">
                      {{privilege.description}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="flight-card-footer">
              <button class="flight-details-see-more"
                      (click)="onCollapse($event, i, j)">
                {{(collapsed[i][j] ? 'less' : 'more')}}
              </button>
              <a [routerLink]="['/booking']" (click)="$event.stopPropagation()"
                 [queryParams]="{flightId: flight.id, sectionId:section.id}">Book Ticket</a>
            </div>
          </article>
        </div>
      </ng-container>
    </ng-container>
  </div>
</article>
