@import "src/styles/mixins";

#filterable-flight-list {
  display: flex;
  flex-direction: column;
  margin: 0 64px;
}

#flights-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.flight-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid #c4c4c4;
  background: #ffffff;
  color: #cfcfcf;
  width: 100%;
}

.flight-card-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: #ffffff;
  letter-spacing: 0.05rem;
  color: rgb(102, 102, 102);
  padding: 8px;

  a {
    text-decoration: none;
    color: #313131;

    &:hover {
      text-decoration: underline;
    }
  }
}

.flight-card-body {
  @include flex-cards(column);
  @include flex-layout(space-between, center);
  font-weight: bold;
  background: #fafafa;
  color: #3f3f3f;
  border-bottom: 2px solid #bdbdbd;
  border-top: 2px solid #bdbdbd;
}

.flight-route {
  p {
    margin-bottom: 0;
    margin-top: 8px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.flight-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  letter-spacing: 0.05rem;
  padding: 8px;
  font-weight: bold;
  color: #797979;

  p {
    letter-spacing: 0.05rem;
    font-size: 20px;
    text-decoration: underline;
  }

  a {
    background: #10984f;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
  }

  p:hover {
    color: rgb(72, 72, 72);
    cursor: grabbing;
  }
}

.flight-direction-icon {
  transform: rotate(180deg);
}

#filter-component {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #b9b9b9;
  background: rgb(255, 255, 255);
  color: rgb(42, 42, 42);
  border-radius: 8px;
}

#filter-component-checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  padding: 16px;

  label {
    color: #595959;
    font-size: 14px;
  }
}

.filter-header {
  width: 100%;
  font-weight: 600;
  color: #242424;
  padding: 8px;
  background: #e3e3e3;
  letter-spacing: 0.05rem;
  font-size: 16px;
}

div.card-wrapper {
  display: flex;
  width: 100%;
  margin-top: 48px;
  flex-grow: 0;
}

.collapsable {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #9d9d9d;
  padding: 32px 32px 4px;
  overflow: hidden;
  font-size: 14px;
}

.filter {
  display: none;
}

@media screen and (min-width: 992px) {
  div.card-wrapper {
    width: 48%;
    display: block;
  }

  #filter-component {
    flex-direction: row;
  }

  .filter-header {
    padding: 18px;
  }

  #filter-component-checkboxes {
    label:nth-child(2n) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #flights-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .flight-card {
    margin-top: 20px;
    font-size: 14px;
    flex-direction: column;
  }

  .flight-card-body {
    position: relative;
    flex-direction: column;
    border-bottom: 2px solid #bdbdbd;
    border-top: 2px solid #bdbdbd;
  }

  .flight-route {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-weight: 700;
    font-size: 18px;
    padding: 24px;
  }

  .flight-card-header {
    justify-content: space-around;
    padding-top: 14px;
  }

  .flight-card-footer {
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-size: 14px;
    padding-top: 16px;
  }

  #filter-component-checkboxes {
    width: 85%;
  }

  .filter-header {
    width: 15%;
  }

  .flight-card-footer a {
    padding: 16px;
    letter-spacing: 0.05rem;
    font-size: 16px;
    font-weight: 500;
    color: #f2fff8;
    text-decoration: none;
  }

  .collapsable {
    overflow: hidden;
  }
}
