@use "src/styles/mixins";
@use "src/styles/colors";

article {
  display: flex;
  //justify-content: center;
  width: 100%;
}

#flight-search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.flight-search-form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;

  button {
    width: 100%;
    background: colors.$grey-600;
    color: colors.$grey-0;
    padding: 8px;

    mat-icon {
      vertical-align: -30%;
    }
  }
}

app-select {
  width: 100%;
}


@media screen and (min-width: 576px) {
  .flight-search-form-section {
    flex-direction: row;

    mat-form-field {
      width: 20%;
    }

    button {
      width: 20%;
      align-self: start;
      margin-top: 4px;
    }

    app-select {
      width: 25%;
    }
  }
}

@media screen and (min-width: 992px) {
  .flight-search-form-section {
    @include mixins.flex();
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 16px;

    mat-form-field {
      width: 30%;
    }

    button {
      width: 20%;
    }
  }

  app-select {
    width: 20%;
  }
}

.flight-search-form-section button:disabled {
  background: colors.$grey-300;
  color: colors.$grey-0;
}
