<article>
  <form id="flight-search-form" [formGroup]="searchFlightForm" (ngSubmit)="onSubmit()">
    <div class="flight-search-form-section">
      <app-select formControlName="flightOffset" [terminals$]="inputDataList" [placeholder]="'Offset'"></app-select>
      <app-select formControlName="flightDestination" [terminals$]="inputDataList"
                  [placeholder]="'Destination'"></app-select>
      <mat-form-field appearance="outline">
        <mat-label>
          Departures At
        </mat-label>
        <input
          matInput
          id="flight-departure-time"
          formControlName="flightDepartureTime"
          type="date"
          name="departureTime"
          required
        />
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="!searchFlightForm.valid">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
    </div>
  </form>
</article>
