body {
  position: relative;
  background: whitesmoke;
}

main {
  font-family: Verdana, sans-serif;
}

#flight-search-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 16px;
}

.flight-search-form-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;

  input {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin-top: 8px;
    border: 2px #7a7a7a solid;
  }

  button {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgb(64, 128, 106);
    color: #fff;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;

    span {
      letter-spacing: 0.1rem;
    }

    mat-icon {
      align-self: center;
      margin-right: 8px;

      //font-size: 20px

    }
  }
}

app-select {
  width: 100%;
  margin-top: 8px;
}

.flight-search-form-section input[type="datetime-local"] {
  padding: 0.1rem var(--padding-left-right-default);
}

button {
  font-size: 18px;
  border-radius: 8px;
  align-self: baseline;
  letter-spacing: 0.05rem;
  border: 1px solid #797979;
}

@media screen and (min-width: 992px) {
  .flight-search-form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 14px;

    input {
      width: 20%;
      padding: 12px;
    }

    input[type='date'] {
      font-size: 16px;
    }

    button {
      width: 15%;
      padding: 12px;
      align-self: center;
      background: rgb(64, 128, 106);
      color: #fff;
    }
  }

  app-select {
    width: 30%;
  }
}

.flight-search-form-section button:disabled {
  background: #797979;
  border: none;
}
