@use "src/styles/mixins";
@use "src/styles/colors";

article {
  display: flex;
  //justify-content: center;
  width: 100%;
}

#flight-search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flight-search-form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;

  .form-input {
    width: 100%;

    margin-top: 12px;

    label {
      top: -8px;
    }

    input {
      width: 100%;
    }
  }

  button {
    width: 100%;
    background: colors.$grey-600;
    color: colors.$grey-0;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-top: 12px;
    mat-icon {
      vertical-align: -30%;
    }
  }
}

app-select {
  width: 100%;
  margin-top: 12px;
}


@media screen and (min-width: 576px) {
  .flight-search-form-section {
    flex-direction: row;

    .form-input, button {
      width: 20%;
    }

    app-select {
      width: 25%;
    }
  }
}

@media screen and (min-width: 992px) {
  .flight-search-form-section {
    @include mixins.flex();
    align-items: baseline;
    justify-content: flex-start;

    .form-input {
      margin-right: 16px;
      width: 40%;
    }

    button {
      width: 20%;
    }
  }

  app-select {
    width: 20%;
    margin-right: 16px;
  }
}

.flight-search-form-section button:disabled {
  background: colors.$grey-300;
  color: colors.$grey-0;
}
