/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

:root {
  --padding-left-right-default: 2%;
  --primary-color: #3c6d9e;
  --headline-font: Georgia;
}

* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

