@use "src/styles/mixins";

div {
  @include mixins.flex(column);

  app-flight-search-form {
    padding: 48px;
  }

  app-flights-list {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 992px){
  div{
    width: 60%;
    margin: 0 auto;
  }
}
