@use "src/styles/mixins";

div {
  @include mixins.flex(column);

  padding: 48px;

}

@media screen and (min-width: 992px) {
  div {
    padding: 0;
  }
  app-flight-search-form {
    padding-top: 48px;
  }
}

