<section id="booking-container">
  <app-flight-details *ngIf="flight" [flightDetails]="flight" [section]="selectedSection"></app-flight-details>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select Seats</mat-label>
      <mat-select [formControl]="seats" multiple>
        <mat-option *ngFor="let seat of selectedSection?.seats" [value]="seat">{{seat.seatNO}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="seats.value.length > 0">
      <h4>Selected Seats:</h4>
      <div id="seats-container">
        <span class="selected-seat" *ngFor="let seat of seats.value"><span>{{seat.seatNO}}</span></span>
      </div>
    </div>
    <div style="background: #9f3d3d; color: #f2fffa" *ngIf="unavailableSeats.length > 0">
      <h4>selected seats are not available anymore:</h4>
      <ul>
        <li *ngFor="let seat of unavailableSeats"><span>{{seat}}</span></li>
      </ul>
    </div>
  </div>
  <div id="passengers-form-wrapper">
    <article>
      <ng-container *ngFor="let passenger of passengers(); let i = index">
        <ng-container [formGroup]="passenger">
          <div class="form-group">
            <label class="form-group-label">Passenger Number #{{i + 1}}'s Information</label>
            <mat-form-field appearance="outline">
              <mat-label for="firstName">First Name</mat-label>
              <input matInput id="firstName" formControlName="firstName"/>
              <mat-error *ngIf="hasError(passenger, 'firstName', 'required')">
                Field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label for="lastName">Last Name</mat-label>
              <input matInput id="lastName" formControlName="lastName"/>
              <mat-error *ngIf="hasError(passenger, 'lastName', 'required')">Field is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>National Id</mat-label>
              <input matInput id="nationalId" formControlName="nationalId"
                     [ngClass]="{'error-input':hasError(passenger, 'nationalId', 'pattern') || hasError(passenger, 'nationalId', 'required')}"
              />
              <mat-error *ngIf="hasError(passenger, 'nationalId', 'required')">Field is required</mat-error>
              <mat-error *ngIf="hasError(passenger, 'nationalId', 'pattern')">Field's value be an 11 digit number
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>
                Birthdate
              </mat-label>
              <input matInput id="birthdate" type="date" min="1910-01-01" max="2022-01-01" formControlName="birthDate"/>
              <mat-error *ngIf="hasError(passenger, 'birthDate', 'required')">Field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Passport NO</mat-label>
              <input matInput id="passportNO" formControlName="passportNO"
                     placeholder="10 digits, e.g. 12345678901"
              />
              <mat-error *ngIf="hasError(passenger, 'passportNO', 'required')">Field is required
              </mat-error>
              <mat-error *ngIf="hasError(passenger, 'passportNO', 'pattern')">Field's length must a 10 digit number
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Issuer Country</mat-label>
              <mat-select id="issuedIn" formControlName="issuedIn" required>
                <mat-option value="" disabled>Select Passport Issuer Country</mat-option>
                <mat-option *ngFor="let country of countries |async" value="{{country.code}}">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hasError(passenger, 'issuedIn', 'required')">Field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Passport Expiration</mat-label>
              <input matInput id="passportExpirationDate" type="date"
                     min="{{ validPassportExpiryDate | date:'yyyy-MM-dd'}}"
                     formControlName="expiresAt"/>
              <mat-error *ngIf="hasError(passenger, 'expiresAt', 'required')">Field is required</mat-error>
            </mat-form-field>
            <button mat-mini-fab *ngIf="passengersForm.length > 1" type="button" (click)="removeForm(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>
      <div class="form-actions">
        <button mat-flat-button [disabled]="!passengersForm.at(passengersForm.length -1).valid"
                id="passenger-form-adder" type="button"
                (click)="addPassengerForm()">+
        </button>
        <button mat-raised-button id="booking-btn" type="submit" (click)="onSubmit()"
                [disabled]="!passengersForm.valid || passengersForm.length === 0 || seats.value.length === 0 || passengersForm.length !== seats.value.length">
          Book
          Tickets
        </button>
      </div>
    </article>
  </div>
</section>
