@use "src/styles/colors";
@import "src/styles/mixins";

#booking-container {
  display: flex;
  flex-direction: column;
  padding: 48px;
}

article {
  width: 100%;
}

h3 {
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: 0.05rem;
  margin-bottom: 48px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0;
  border: 1px solid rgba(102, 102, 102, 0.38);
  border-radius: 8px;

  button {
    border: 1px solid #797979;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
  }
}

input, select {
  border: none;
  border-bottom: 1px solid #797979;
  background: inherit;
  border-radius: 0;
  padding: 18px;
  width: 100%;

  &:focus, &:active {
    border: none;
    border-bottom: 1px solid #797979;
    outline: none;
  }
}

.form-group input, select {
  font-size: 16px;
  letter-spacing: 0.05rem;
}

.passenger-info-input {
  position: relative;
  margin-bottom: 24px;
  font-size: 14px;
  border-radius: 8px;

  label {
    position: absolute;
    top: -14px;
    left: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    padding: 2px;
    letter-spacing: 0.07rem;
    font-family: Verdana, sans-serif;
    color: #797979;
  }
}

.form-group-label {
  position: absolute;
  top: -14px;
  background: whitesmoke;
  left: 12px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: 550;
  color: colors.$grey-800;
}

.form-group button {
  position: absolute;
  border: none;
  padding: 2px 4px;
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 950;
  top: -12px;
  right: -12px;
  color: #a72a2a;
}

#passenger-form-adder {
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  min-width: 15%;
  min-height: 100%;
  width: 64px;
  background: rgba(121, 121, 121, 0.14);
  color: #5c8355;
  padding: 18px;
  margin-top: 18px;
  &:disabled {
    color: #ffffff;
  }
}

#passengers-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

#booking-btn {
  &:disabled {
    box-shadow: 5px 3px 5px -4px rgba(0, 0, 0, 0.1), 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
  }

  padding: 20px;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.05em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  width: 100%;
  align-self: center;
  font-weight: 600;
  box-shadow: 5px 3px 5px -4px rgba(0, 0, 0, 0.1), 0 0 17px 0 rgba(0, 0, 0, 0.1);
  background: rgba(11, 179, 114, 0.89);
  margin-top: 20px;
}

.error {
  color: #a12b2b;
  box-shadow: rgb(147, 4, 4) 0 1px 2px 0, rgb(147, 4, 4) 0 0 0 0;
  border-radius: 8px;
  border-top: 0;

  &::placeholder {
    color: #9f3d3d;
  }
}

.error-label {
  color: #9f3d3d !important;
  font-size: 14px !important;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  #booking-container {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 64px;
  }

  .form-group-label {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05rem;
  }
  #passengers-form-wrapper {
    width: 48%;
    align-items: flex-start;
    margin-top: 0;
  }

  #passenger-form-adder{
    margin-top: 0;
  }
  app-flight-details {
    width: 48%;
    max-width: 576px;
  }

  .passenger-info-input {
    margin-right: 14px;
  }

  .form-group {
    margin-top: 24px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  .form-actions {
    @include flex(row);
    @include flex-layout(space-between, center);
    margin-top: 20px;
  }

  #booking-btn {
    font-weight: 700;
    width: 80%;
    font-size: 24px;
    padding: 4px;
    line-height: 2;
    margin-top: 0;

    &:disabled {
      font-weight: 700;
    }
  }
}
