@use "src/styles/colors";
@use "src/styles/mixins";

#booking-container {
  display: flex;
  flex-direction: column;
  padding: 48px;
}

article {
  width: 100%;
}

h3 {
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: 0.05rem;
  margin-bottom: 48px;
}

.form-group {
  position: relative;
  display: flex;
  row-gap: 24px;
  flex-direction: column;
  padding: 24px 24px;
  @include mixins.box-shadow(rgba(149, 157, 165, 0.2) 0px 8px 24px);
  border-radius: 4px;
  margin-bottom: 24px;

  .form-input {
    label {
      top: -12px;
    }
  }

  button {
    background: colors.$grey-0;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
  }
}


.form-group input, select {
  font-size: 14px;
  letter-spacing: 0.05rem;
  width: 100%;
}


.form-group-label {
  position: absolute;
  top: -14px;
  background: colors.$grey-0;
  left: 12px;
  font-size: 10px;
  border-radius: 8px;
  font-weight: 600;
  color: colors.$grey-900;
}

.form-group button {
  position: absolute;
  border: none;
  padding: 2px 4px;
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 950;
  top: -12px;
  right: -12px;
  color: #a72a2a;
}

#passenger-form-adder {
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  min-width: 15%;
  min-height: 100%;
  width: 64px;
  background: colors.$grey-700;
  color: colors.$grey-0;
  padding: 18px;
  margin-top: 18px;

  &:disabled {
    background: colors.$grey-300;
  }
}

#passengers-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

#booking-btn {
  &:disabled {
    box-shadow: 5px 3px 5px -4px rgba(0, 0, 0, 0.1), 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
  }

  width: 100%;
  align-self: center;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  #booking-container {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 64px;
  }

  .form-group-label {
    font-size: 14px;
    //font-weight: 700;
    letter-spacing: 0.05rem;
  }
  #passengers-form-wrapper {
    width: 48%;
    align-items: flex-start;
    margin-top: 0;
  }

  #passenger-form-adder {
    margin-top: 0;
  }
  app-flight-details {
    width: 48%;
    max-width: 576px;
  }


  .form-group {
    margin-top: 24px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  .form-actions {
    @include mixins.flex(row);
    @include mixins.flex-layout(space-between, center);
    margin-top: 20px;
  }

  #booking-btn {
    width: 80%;
    margin-top: 0;

    &:disabled {
      font-weight: 700;
    }
  }
}
